body {
  background-image: linear-gradient(to bottom, greenyellow, white); }

html {
  overflow-x: hidden; }

.img-fluid {
  width: 350px; }

div p {
  font-size: 20px;
  color: pink;
  margin-top: 80px;
  padding-left: 20px; }

.imagen_ppp {
  padding-left: 50px; }

.cuadro {
  padding-left: 120px;
  margin-bottom: 80px; }

div h4 {
  color: purple; }

div ul li {
  list-style: none; }

.opiniones {
  margin-top: 110px; }

div ul li a {
  color: orange;
  font-size: 20px;
  text-decoration: underline black; }

.titulo__footer3 {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
  color: blue; }

.texto__contacto3 {
  padding-top: 100px;
  color: grey; }

.logo_whatsapp {
  width: 250px; }

.nombre1 {
  color: red; }

.nombre2 {
  color: blue; }

.nombre3 {
  color: pink; }

.nombre4 {
  color: green; }

.opinion1 {
  color: black; }

.opinion2 {
  color: brown; }

.opinion3 {
  color: skyblue; }

.opinion4 {
  color: pink; }

.logo__telefono {
  width: 250px; }

.logo__email {
  width: 250px; }

.logo__transferencia {
  width: 250px; }

.logo__mercadoPago {
  width: 250px; }

.titulo__local {
  font-size: 50px;
  margin-top: 40px;
  padding-left: 20px; }

.card, .tarjeta {
  width: 150px;
  background-color: skyblue; }

.card-text, .tarjetaTexto {
  color: white; }

.tarjeta {
  background-color: pink;
  border: 5px solid black; }

.tarjetaTexto {
  font-size: 30px;
  color: green; }

.logo__transferencia {
  height: 350px;
  width: 450px;
  background-color: green; }

.mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
  margin-lefht: 70px; }

.titulo__local {
  margin-right: 50px; }
