$colorFondo: greenyellow;

$colorLetrasBarra: orange;

$colorLetrasBody: pink;

$colorSubrayado: black;

$colorPiePag: grey;

$colorTituloPiePag: blue;

$colorOpinionN: purple;

$colorOpinionO: green;