.titulo__footer3{
	text-align: center;
	margin-top: 40px;
	font-size: 50px;
	color: $colorTituloPiePag;
}
.texto__contacto3{
	padding-top: 100px;
	color:$colorPiePag;
}
.logo_whatsapp{
	width: 250px;
}