<!DOCTYPE html>
<html lang="es" class= html_altura>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dudas</title>

	<!--link bootstrap-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	
	
	<!--links de fuente gramática-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">

	<!--link css-->
	<link rel="stylesheet" href="../css/estilo1.css">
</head>

<body class="body">

	<div class="conteiner">
		<!--inicio encabezado-->
	
		<div class="row">
			<!--LOGO-->
			<div class="col-lg-6 col-12">
				<a href="../index.html">
					<img src="../assets/img/computadora.jpg" alt= "logo" class="img-fluid">
				</a>
			</div>
			<!--cierre LOGO-->

			<!--inicio barra de navegacion-->
			<div class="col-lg-6 col-12 nav">
				<ul class="nav nav-tabs">
				  <li class="nav-item">
				    <a class="nav-link active" href="../index.html">INICIO</a>
				  </li>
				  <li class="nav-item">
				  	<a class="nav-link" href="servicios.html">SERVICIOS</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="contacto.html">CONTACTO</a>
				  </li>
				   <li class="nav-item">
				   	<a class="nav-link" href="nosotros.html">NOSOTROS</a>
				  </li>
				  <li class="nav-item">
				   <a class="nav-link" href="#">DUDAS</a>
				  </li>
				</ul>
			</div>
				  
			<!--cierre barra de navegacion-->
		</div>
		
		<!--cierre de encabezado-->

		<!--inicio contenido-->

		<div class="row">
			<!--dudas para dejar-->
			<div class="col-lg-12 col-12">
				<h1 id="duda" class="duda">Presenta Tus Dudas Aqui: </h1>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-6 col-12">
				<form action="#" class="col-lg-6 col-12">
					<label for="Nombre" class="nombre_duda">Nombre: <input type="text" name="Nombre" placeholder="NOMBRE" required></label><br>

						<br>

					<label for="Apellido" class="apellido_duda">Apellido: <input type="text" name="Apellido" placeholder="APELLIDO" required></label><br>

						<br>

					<label for = "Mail" class="mail_duda">Mail: <input type="text" name="Mail" placeholder="MAIL" required></label><br>

						<br>

					<label for="Contraseña" class="constraseña_duda">Constraseña: <input type="Password" name="Contraseña" placeholder="CONTRASEÑA" required>
						<label><br>	

					<br>

					<div class="tip_consulta">Tipo de consulta:
						<select name="duda" id="consulta">
							<option value="0">SELECCIONE EL TIPO DE CONSULTA</option>
							<option value="1">REPARACION</option>
							<option value="2">CAMBIO DE COMPONENTE</option>
							<option value="3">CONSULTA DE PRESUPUESTO</option>
						</select>
					</div>

					<div class="terminos">
						<h3>Acepto términos y condiciones: </h3>
						<h4>aceptar</h4>
						<input type="checkbox" name="aceptar" value="1" required>
					</div>

					<div class="duda_texto">
						<h3>Dudas: </h3>
						<textarea name="" id= "" cols= "50" rows= "20" required class="textoDuda"></textarea>

						<br>

						<input type="submit" value="enviar">
						<input type="reset" value="cancelar">
					</div>
				</form>
			</div>

			<!--fin cuadro para dejar dudas-->

			<!--preguntas frecuentes-->

			<div class="col-lg-6 col-12">
				<h2 id="frecuente" class="frecuente">PREGUNTAS FRECUENTES:</h2>
			
				<br>
				<div>
					<h4 class="pregunta">¿Puedo usar mi nothebook en la cama?</h4>
						<ul class="respuesta">
							<li>Si,pero no es recomendable ya que le quitamos ventilacion. </li>
						</ul>
					<h4 class="pregunta">¿Es recomendable usar la nothebook con el cargador puesto?</h4>
						<ul class="respuesta">
							<li>No es recomendable, ya que la bateria la estas sobrecargando. </li>
						</ul>
					<h4 class="pregunta">¿Cada cuanto hay que limpiar mi nothebook?</h4>
						<ul class="respuesta">
							<li>Por lo menos cada 6 meses desarlarma y limpiar con aire. </li>
						</ul>
					<h4 class="pregunta">¿Cuanto tiempo lleva la reparacion?</h4>
						<ul class="respuesta">
							<li>Depende que reparacion necesite, primero hay que analizar<br> 
							    y avisar al cliente si acepta el presupuesto de reparacion. </li>
						</ul>
					<h4 class="pregunta">¿Mi nothebook no se inicia que puedo hacer?</h4>
						<ul class="respuesta">
							<li>Proba de apretar alt f12, si no anda traela al local y vemos. </li>
						</ul>
				</div>
			</div>
		</div>
			<!--fin preguntas frecuentes-->
		
		
		<!--fin contenido-->

		<!--inicio footer-->

		<div class="row">
			<div class="col-lg-12 col-12">
				<h3 class="titulo__footer3">REDES SOCIALES Y CONTACTO</h3>
			<!--redes sociales-->
			</div>

		</div>

		<div class="row">
			<div class="col-lg-5 col-12">
				<a href="https://www.whatsapp.com/?lang=es" target="_blank" class="imagen_whats3">
					<img src="../assets/img/whatsapp.jpg" class="logo_whatsapp">
				</a>
			</div>	

			<!-- texto de contacto-->

			<div class="col-lg-7 col-12">
				<p class="texto__contacto3">
					Telefono: 3516710707<br>
					Email: nachorojos99 @ gmail.com<br>
					Horario De Atencion: Lun a Sab de 9 hs a 18 hs<br>
					Direccion: Hector Paniza Esquina Maestro Vidal<br>
				</p>
			</div>
		</div>
		<!--cierre footer-->

	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>